<p>{{title}}</p>
<script type="text/javascript" src="./assets/js/FuelsLogic.js"></script>
<form>
   {{fuels}}
     <button type="submit" class="btn btn-primary" id="AddFuel">Add New Fuel</button>
</form>