<p>{{title}}</p>

{{#each fuel}}
     {{#each this.items}}
          <p>{{this}}</p>
          <hr>
     {{/each}}
{{/each}}
{{#each fuel}}
     {{#each this.item}}
          <p>{{this}}</p>
          <hr>
     {{/each}}
{{/each}}