<script type="text/javascript" src="/assets/js/FuelsLogic.js"></script>

  
  <div id="fuelEntry">
  <a href = "/fuel/1/0"><button type="submit" class="btn btn-primary" id="AddFuel">Add New Fuel</button></a>
    {{#each fuels}}
<div class = "lineItem" data-id = "{{id}}">
  <hr>
          <h6>{{formatDate purchaseDate}}</h6>
            <p>{{ gasStation}}</p>
              <p>${{formatNumber pricePerGallon}}</p>
          
  </div>
    {{/each}}
    

  </div>
   