<script type="text/javascript" src="/assets/js/FuelsLogic.js"></script>
<a href="fuel/0"><img src=""/>Add New Fuel</a>
<div>
  {{#each fuels}}
    <div class="lineItem" data-id="{{id}}">
      <h4>{{#intl locales="en-US"}}{{formatDate purchaseDate units="day" units="month" units="year"}}{{/intl}}</h4>
        <div class="d-flex justify-content-between aCar">
          <div>Gas Station: {{ gasStation}}</div>
          <div>Price/Gallon: ${{formatNumber pricePerGallon}}</div>
        </div>
    </div>
  {{/each}}
</div>