<p>{{title}}</p>
<script type="text/javascript" src="./assets/js/FuelsLogic.js"></script>
<form>
   
<ul>
  
  <div id="fuelEntry">
    {{!-- <label for="exampleInputEmail1">Date: </label> --}}
    {{#each fuels}}
          <p>{{id}}:{{this}}
            
          </p>
        {{/each}}
    {{#if fuels}}
    <p>{{this.odometer}}
    
    </p>
    {{/if}}
  </div>
</ul>
     
</form>
<div>

<button type="submit" class="btn btn-primary" id="AddFuel">Add New Fuel</button>
</div>