

<p>Add a Vehicle</p>
<p>View Vehicle Information</p>
<p>View Fuel Entries</p>
<p>Add Fuel Entry</p>
<p>View Vehicle Service History</p>
<p>Add Service Entry</p>
<p>Search Service Entries</p>
<p>Edit User Information</p>