<script type="text/javascript" src="/assets/js/searchLogic.js"></script>

    
     <div class="dropdown mt-3" >
          <select name="keyword" id="SearchTerm" required>
               <option value="0">Select a Service</option>
               {{#each searchTerm}}
                    <option value={{id}}>{{serviceName}}</option>
               {{/each}}
          </select>
     </div>
     <div class="results">
        
     </div>
