<script type="text/javascript" src="../public/assets/js/searchLogic.js"></script>

    <div class="col text-center">
     <button type="submit" class="btn btn-primary" id="search">Search</button>
     </div>
     <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
               Dropdown button
          </button>
          <select name="manufacturer" id="manufacturer" required>
               <option value="0">Select a Manufacturer</option>
               {{#each searchTerm}}
                    <option value={{id}}>{{serviceName}}</option>
               {{/each}}
          </select>
     </div>